@import "./base/reset";
@import "./base/variaveis";
@import "./components/header";
@import "./components/main";
@import "./components/products";
@import "./components/cart";
@import "./components/cartdetails";

body {
    font-family: $font-archivo;
    width: 100%;
    height: 100%;
}
