//Colors
$brand-color: #7CA2F4;

//Dark Scale
$dark-10: #121214;
$dark-20: #F3F7FF;
$dark-30: #FFFFFF;
$dark-40: #F3F7FF;

//Font
$font-archivo: 'Archivo', sans-serif;
$font-grotesk: 'Space Grotesk', sans-serif;

//Font size
$size: 24px;