//Colors
$brand-color: #7ca2f4;

//Dark Scale
$dark: #000000;
$dark-10: #121214;
$dark-20: #f3f7ff;
$dark-30: #ffffff;
$dark-40: #f3f7ff;
$dark-50: #cccccc;

//Font
$font-archivo: "Archivo", sans-serif;
$font-grotesk: "Space Grotesk", sans-serif;

//Font size
$size: 24px;
