@import "../base/variaveis";

.cart {
    width: 95%;
    height: 100%;

    display: none;
    margin: 60px auto;

    @media (max-width: 768px) {
        margin: 55px auto;
    }

    @media (max-width: 375px) {
        margin: 50px auto;
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        tr,
        th,
        td {
            border: 1px solid $dark-10;
            height: 40px;

            @media (max-width: 768px) {
                height: 35px;
            }
        }

        td {
            padding-inline: 10px;
        }

        @media (max-width: 768px) {
            font-size: 14px;
        
        }
        @media (max-width: 575px) {
            font-size: 12px;
        }
    }
}

.size-column,
.price-column {
    text-align: right;
}

.delete-column {
    width: 65px;
    text-align: center;

    span {
        &:hover {
            cursor: pointer;
            color: red;
            transition: 0.2s;
        }

        @media (max-width: 768px) {
            font-size: 20px;
        }

        @media (max-width: 575px) {
            font-size: 18px;
        }
    }
}

tfoot {
    text-align: right;
}
